:root {
  --primeryBrand: #4d5ae5;
  --pressed: #404bbf;
  --bg: #2e2f42;
  --overlay: #2e2f42;
  --bodytext: #434455;
  --lightmode: #f4f4fd;
  --accent: #e7e9fc;
  --whitemain: #ffffff;
  --itemshedow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --boxshadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--whitemain);
}
/* container */
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
}

.title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--overlay);
  text-transform: capitalize;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--overlay);
}
.desc {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--bodytext);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -----heder----- */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: var(--boxshadow);
}
.header-nav {
  display: flex;
}
.header-navigation {
  display: flex;
}
.header-logo {
  display: block;
  padding: 24px 0;
  margin-right: 76px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--overlay);
}
.header-logo span {
  color: var(--primeryBrand);
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--overlay);
  text-decoration: none;
}

.header-link:hover,
.header-link:focus {
  color: var(--pressed);
}
.header-address {
  margin-left: auto;
  font-style: normal;
}
.header-mail,
.header-tel {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--bodytext);
  text-decoration: none;
}
.header-mail:hover,
.header-tel:hover,
.header-mail:focus,
.header-tel:focus {
  color: var(--pressed);
}
/* ------Hero section------ */
.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding: 188px 0;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/dg-office.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  margin: auto;
  max-width: 500px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--whitemain);
}
.hero-button {
  /* text */
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--whitemain);
  /* BUTTON */
  display: block;
  padding: 16px 32px;
  margin-top: 48px;
  margin: 48px auto;
  border: none;
  background: var(--primeryBrand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed);
}

/* ------------section2 ------------*/
.advantage {
  padding: 120px 0;
}
.advantage-title {
  display: none;
}

.advantage-list {
  display: flex;
  gap: 24px;
}
.advantage-item {
  /* max-width: 264px; */
  width: calc(100% / 4);
}
.adv-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  padding: 24px 0;
  background-color: var(--lightmode);
}

/* --------Tehnologiies-------- */
.tehnologies {
  padding-bottom: 120px;
}
.tehnologies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 72px;
}

/*----------- Our team----------- */

.team {
  padding: 120px 0;
  background-color: var(--lightmode);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 72px;
}
.team-item {
  background-color: var(--whitemain);
  box-shadow: var(--itemshedow);
  border-radius: 0px 0px 4px 4px;
}
.item-content {
  text-align: center;
  padding: 32px 16px;
}
.team-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}
.team-social-item {
  width: 40px;
  height: 40px;
}
.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primeryBrand);
}
.team-social-icon {
  fill: #fff;
}

.team-social-link:is(:hover, :focus) {
  background-color: var(--pressed);
}
/* ------customers----- */
.customers {
  padding: 130px 0 120px;
}
.customers-title {
  margin-bottom: 72px;
}

.custolers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.customers-item {
  width: 168px;
  height: 88px;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
}

.customers-link:is(:hover, :focus) {
  border-color: var(--pressed);
  color: var(--pressed);
}
.customers-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}
/* -------------footer------------- */
.footer {
  /* display: flex; */
  gap: 120px;
  padding: 100px 0;
  background: var(--bg);
}
.footer-cont {
  display: flex;
  justify-content: flex-start;
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--lightmode);
}
.footer-logo span {
  color: var(--primeryBrand);
}

.footer-desc {
  margin-top: 16px;
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--lightmode);
}
.footer-social-block {
  margin-left: 120px;
}
.footer-social-title {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--whitemain);
}
.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.footer-social-icon {
  fill: #fff;
}

.footer-social-link:is(:hover, :focus) {
  background: #31d0aa;
}
/* ---------Portfolio--------- */
.filter {
  padding: 96px 0 120px;
}

.filter-button {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.filter-btn {
  padding: 12px 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primeryBrand);

  background: var(--lightmode);
  border: 1px solid var(--accent);
  border-radius: 4px;
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--whitemain);
  background: var(--pressed);
  border-color: transparent;
  box-shadow: var(--boxshadow);
}
.card-container {
  margin-top: -24px;
  margin-left: -24px;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-top: -48px;
}
.card-item {
  margin-top: 48px;
  margin-left: 24px;
  flex-basis: calc(100% / 3 - 24px);
}
.card-content {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.card-link {
  display: block;
}
.card-link:is(:hover, :focus) {
  box-shadow: var(--boxshadow);
}
